<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
        <meta name="viewport" content="width=80%,initial-scale=51">
        <link rel="stylesheet" href="/static/style.css">
        <style>
        </style>
        <script src=""></script>

    </head>
    <link rel="stylesheet" href="/static/style.css">

<body>
    <div class ="frontpage" >
        <div class="container">
            <div class="header">
                <h1 class="display-4" style="display:flex; justify-content:space-around">Text Summarization</h1>

                <form action="/text_summary" method="POST" style="display:flex; justify-content:space-around" >
                    <textarea class="form-control" placeholder="Enter raw text" name="rawtext"></textarea>
                    <button type="submit" class="btn-btn-dark">Submit</button>
                    
                </form>

            </div>
        </div>
        
            
        </div>
    
    </div> 
          
            
</body>

</html>